
importFrom("utils",
           "browseURL")

importFrom("httpuv",
           "startDaemonizedServer",
           "stopDaemonizedServer")

importFrom("jsonlite",
           "fromJSON",
           "toJSON")
                     
export(
    ## Start/stop pages
    "appPage",
    "filePage",
    "urlPage",
    "stopPage",

    ## Get/set page info (for Apps to use)
    "registerPageSocket",
    "pageInfo",

    ## Manipulate DOM
    "appendChild",
    "removeChild")
