
importFrom("utils",
           "browseURL",
           "capture.output")

importFrom("httpuv",
           "startDaemonizedServer",
           "stopDaemonizedServer")

importFrom("jsonlite",
           "fromJSON",
           "toJSON")

importFrom("whisker",
           "whisker.render")

export(
    ## Start/stop pages
    "htmlPage",
    "filePage",
    "urlPage",
    "closePage",

    ## Manipulate DOM
    "appendChild",
    "appendChildCSS",
    "removeChild",
    "removeChildCSS",
    "replaceChild",
    "replaceChildCSS",
    "setAttribute",
    "appendScript",
    "click"
)
