
importFrom("utils",
           "browseURL")

importFrom("httpuv",
           "startDaemonizedServer",
           "stopDaemonizedServer")

importFrom("jsonlite",
           "fromJSON",
           "toJSON")
                     
export(
    ## Start/stop pages
    "htmlPage",
    "filePage",
    "urlPage",
    "closePage",

    ## Manipulate DOM
    "appendChild",
    "removeChild",

    ## Kill (headless) page
    "kill")
