<html>
  <head>
    <script src="https://www.stat.auckland.ac.nz/~paul/R/DOM/{{{pkgVersion}}}/JS/css-selector-generator.min.js">
    </script>
    <script src="https://www.stat.auckland.ac.nz/~paul/R/DOM/{{{pkgVersion}}}/JS/bowser.min.js">
    </script>
    <script src="https://www.stat.auckland.ac.nz/~paul/R/DOM/{{{pkgVersion}}}/JS/RDOM.js">
    </script>
    <script>
      window.onload = function() {
          RDOM.init("{{{host}}}", "{{{port}}}", "{{{tag}}}");
      }
    </script>
    {{{head}}}
  </head>
  <body>
    {{{body}}}
  </body>
</html>
